#particles-background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a5e5ef+0,2ed1ce+100 */
    background: #a5e5ef; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #a5e5ef 0%, #2ed1ce 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #a5e5ef 0%,#2ed1ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #a5e5ef 0%,#2ed1ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.92);
        box-shadow: 0 0 14px -5px rgba(0,0,0,0.46);
        padding: 35px;
        margin: 0 15px;
        h1 {
            color: #595959;
            font-weight: 700;
            margin-bottom: 15px;
        }
        p {
            font-size: 1.2rem;
        }
        img {
            max-width: 120px;
        }
        .call-to-action {
            padding: 7px 25px;
            background-color: #49aba3;
            color: white;
            border: 0;
            border-radius: 20px;
            font-size: 1.2rem;
            margin-top: 15px;
            transition: background-color .5s;
            &:hover {
                background-color: lighten(#49aba3, 3);
            }
        }
        *:focus {
            outline: none;
        }
    }
}
