// Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General font and height settings
html, body {
    height: 100%;
    font-size: 14px;
}

@media (min-width: 576px) {
    html, body {
        font-size: 16px;
    }
}

// Front page
@import 'welcome';
